@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 16px;
    color: #666;
    line-height: 27px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #484848;
}
h2 {
    font-size: 30px;
    line-height: 1.1;
}
a {
    text-decoration: none;
    color: #595959;
}
a:hover, a:focus {
    outline: 0 !important;
    text-decoration: none;
    color: #13a54e !important;
}
.copyright span {
    margin: 0 15px;
}
p {
    margin: 0 0 10px;
}
p.text-muted {
    color: #a5b2b9 !important;
}
p.copyright {
    padding: 15px;
    text-align: center;
    color: #a9abb3;
}

/* Card Styling */
.card {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #f5f5f5;
}

.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}

.auth-card {
    border-radius: 5px;
    padding: 25px;
    width: 430px;
    margin: 1px auto;
    margin-top: 4%;
    margin-bottom: 2%;
}
.auth-page .register, .auth-page .forgot, .auth-page .reset {
    display: none;
}

.auth-heading h2 {
    font-weight: 800;
}
.auth-heading p {
    color: #a5b2b9;
    font-weight: 300;
    margin-bottom: 25px;
}

/* Form Styling */
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin: 0 0 .3125rem;
    color: #76848e;
    font-weight: 400;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.outer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control {
    display: block;
    width: 100%;
    margin: 0;
    padding: .59375rem .9375rem;
    transition: all .3s;
    border: 1.5px solid #dfe3e9;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #6d819c;
    font-weight: 400;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #4aa951;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Text Styling */
.text-primary {
    color: #13a54e !important;
}
.text-thin {
    font-weight: 300;
}
.text-muted {
    color: #777;
}
.pull-right {
    float: right !important;
}

/* Button Styling */
.btn-primary {
    color: #fff;
    background-color: #13a54e;
    border-color: #13a54e;
}
.btn {
    color: #fff;
    padding: 10px 30px !important;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143; /* very specific, I know*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
}
.btn:focus {
    outline: 0 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff !important;
    background-color: #12a04c !important;
    border-color: #12a04c !important;
}
.btn-block {
    display: block;
    width: 100%;
}


/* Media Styling */
@media (max-width: 767px) {
    .auth-card {
        width: 60%;
        margin: 1px auto;
        margin-top: 4%;
    }
}
@media (max-width: 590px) {
    .auth-card {
        width: 90%;
        margin: 1px auto;
        margin-top: 4%;
    }
}