@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 16px;
    color: #666;
    line-height: 27px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #484848;
}
h2 {
    font-size: 30px;
    line-height: 1.1;
}
a {
    text-decoration: none;
    color: #595959;
}
a:hover, a:focus {
    outline: 0 !important;
    text-decoration: none;
    color: #13a54e !important;
}
.copyright span {
    margin: 0 15px;
}
p {
    margin: 0 0 10px;
}
p.text-muted {
    color: #a5b2b9 !important;
}
p.copyright {
    padding: 15px;
    text-align: center;
    color: #a9abb3;
}
header, footer, main, menu, nav {
    display: block;
}

/* Card Styling */
.card {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #f5f5f5;
}

.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}
.ml-5{
    margin-left: 5px;
}

.auth-card {
    border-radius: 5px;
    padding: 25px;
    width: 430px;
    margin: 1px auto;
    margin-top: 4%;
    margin-bottom: 2%;
}
.auth-page .register, .auth-page .forgot, .auth-page .reset {
    display: none;
}

.auth-heading h2 {
    font-weight: 800;
}
.auth-heading p {
    color: #a5b2b9;
    font-weight: 300;
    margin-bottom: 25px;
}

/* Form Styling */
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin: 0 0 .3125rem;
    color: #76848e;
    font-weight: 400;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.outer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control {
    display: block;
    width: 100%;
    margin: 0;
    padding: .59375rem .9375rem;
    transition: all .3s;
    border: 1.5px solid #dfe3e9;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #6d819c;
    font-weight: 400;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #4aa951;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Text Styling */
.text-primary {
    color: #13a54e !important;
}
.text-thin {
    font-weight: 300;
}
.text-muted {
    color: #777;
}
.pull-right {
    float: right !important;
}

/* Button Styling */
.btn-primary {
    color: #fff;
    background-color: #13a54e;
    border-color: #13a54e;
}
.btn {
    color: #fff;
    padding: 10px 30px !important;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143; /* very specific, I know*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
}
.btn:focus {
    outline: 0 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff !important;
    background-color: #12a04c !important;
    border-color: #12a04c !important;
}
.btn-block {
    display: block;
    width: 100%;
}
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    color: inherit;
}
.btn-default {
    color: #484848;
    background-color: #f8f8f8;
    border-color: #eaeced;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #484848;
    background-color: #EAECED;
    border-color: #EAECED;
}


header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 19;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #f5f5f5;
    box-shadow: 0 2px 5px rgba(166, 166, 166, 0.15);
}
header nav.navigation {
    overflow: hidden;
    display: inline-block;
    margin-left: 40px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
header nav.navigation .nav > li.active > a {
    color: #13a54e;
}
header nav.navigation .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    font-weight: 600;
    color: #b7bbbf;
}
header nav.navigation .nav > li > a:hover {
    background-color: transparent;
}
header nav.navigation .nav > li.active > a {
    color: #13A54E;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.header-right {
    float: right;
    margin-top: -5px;
}
.header-right .dropdown {
    cursor: pointer;
    display: inline-block;
    margin-left: 31px;
}
.dropdown {
    position: relative;
}
.dropdown-toggle::after {
    display: none;
}
.btn i {
    margin-right: 5px;
}
ul.dropdown-menu {
    border: none;
    font-size: 14px;
    -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
ul.dropdown-menu li {
    width: auto;
}
ul.dropdown-menu li a {
    color: #98a0a5;
    padding: 10px 20px;
    padding-left: 20px;
    margin-left: 24px;
}
ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus, ul.dropdown-menu li a:active, aside li a:hover, aside li a:focus, aside li a:active, aside li a.active {
    color: #13A54E;
    text-decoration: none;
}
.dropdown-menu > li > a:hover {
    background-color: transparent;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
ul.dropdown-menu li a i {
    position: absolute;
    margin-left: -23px;
    margin-top: -4px;
    font-size: 17px;
}
span.avatar img {
    width: 42px;
    height: 42px;
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border: 0;
}
header ul.dropdown-menu.profile-menu {
    margin-left: -45px;
}


.container {
    padding-top: 125px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-heading {
    overflow: hidden;
    margin-bottom: 40px;
}
.page-heading .btn {
    margin-top: 15px;
}
.heading-content {
    float: left;
}
.heading-title{
    padding-left: 103px;
}
.heading-title h2 {
    margin-top: 7px;
    color: #484848;
    font-weight: 600;
    margin-bottom: 6px;
}
.heading-title p{
    color: #a5b2b9;
}


/* Media Styling */
@media (max-width: 767px) {
    .auth-card {
        width: 60%;
        margin: 1px auto;
        margin-top: 4%;
    }
}
@media (max-width: 590px) {
    .auth-card {
        width: 90%;
        margin: 1px auto;
        margin-top: 4%;
    }
}